<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>Éditer votre profil</h1>
  <%= link_to 'Voir', @profile, class:"btn btn-primary btn-sm" %>
  <%= render 'form', profile: @profile %>
</div>


