<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>Éditer votre profil</h1>
  <%= link_to 'Retour', @profile, class:"btn btn-secondary btn-sm" %>
  <div class="d-flex justify-content-center">
    <%= render 'profiles/form', profile: @profile %>
  </div>
  
  
</div>


