<div class="container text-center pt-5">
  <div class="row my-5">
    <h1>Vous pouvez nous contacter sur Discord</h1>
  </div>

  <div class="row">
    <p>
      Discord est un logiciel propriétaire gratuit de VoIP et de messagerie instantanée.
      <br/>
      Il fonctionne sur les systèmes d’exploitation Windows, macOS, Linux, Android, iOS ainsi que sur les navigateurs web.
    </p>
    <p>
      La plateforme comptabilise le 21 juillet 2019 plus de 250 millions d'utilisateurs.
      <br/> 
      En 2019, l’entreprise emploie 165 salariés à San Francisco et est valorisée à 3,5 milliards de dollars.
    </p>
    <p>
      Conçu initialement pour les communautés de joueurs de jeux vidéo, son utilisation s'est diversifiée avec le temps.
    </p>
  </div>

  <div class="row">
    <a href="https://discord.com/" target="_blank" class="btn btn-outline-warning mx-auto my-5 w-50">Lien vers le site officiel de Discord</a>
  </div>
</div>