<section class="row pt-5 px-5">
  <div class="card mx-auto" style="width: 22rem;">
    <%= image_tag('kitten.jpg')%>
    <div class="card-body">
      <h5 class="card-title">Paola AiCHOUR</h5>
      <h6 class="card-subtitle mb-2 text-muted">Développeur</h6>
      <a href="https://github.com/Paolavuolo" target="_blank" class="btn btn-primary my-3">Voir le GitHub</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 22rem;">
    <%= image_tag('kitten.jpg')%>
    <div class="card-body">
      <h5 class="card-title">Louis LoREGERES</h5>
      <h6 class="card-subtitle mb-2 text-muted">Développeur</h6>
      <a href="https://github.com/looping124" target="_blank" class="btn btn-danger my-3">Voir le GitHub</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 22rem;">
    <%= image_tag('kitten.jpg')%>
    <div class="card-body">
      <h5 class="card-title">Timothée GiMBERT</h5>
      <h6 class="card-subtitle mb-2 text-muted">Développeur</h6>
      <a href="https://github.com/TimotheeGimbert" target="_blank" class="btn btn-success my-3">Voir le GitHub</a>
    </div>
  </div>
  <div class="card mx-auto" style="width: 22rem;">
    <%= image_tag('kitten.jpg')%>
    <div class="card-body">
      <h5 class="card-title">Xavier KiNDERF</h5>
      <h6 class="card-subtitle mb-2 text-muted">Développeur</h6>
      <a href="https://github.com/FabCom" target="_blank" class="btn btn-warning my-3">Voir le GitHub</a>
    </div>
  </div>
</section>