<div class="d-flex flex-column align-items-center">
  <h2>Mon panier</h2>
  <div class="d-flex">
      <%  @items_in_cart.each do |item| %> <!--Pour chaque produit du panier on affiche le nom et le prix -->
        <div class="d-flex flex-column align-items-center" style="width:15%">
          <%= render 'items/item_in_cart', item: item[:item], quantity:item[:quantity]%>
        </div>
      <% end %>
  </div>
</div>
