<h5 class="card-title text-dark text-end mb-3"> <%= item.title %> </h5>
<img style="width: 50%; heigth: auto; opacity: 0.3; " <%= image_tag item.image_url %> >
<h6 class="card-subtitle mb-2 text-warning text-end"> <%= item.description %> </h6>
<hr>
<h6 class="card-subtitle mb-2 text-primary text-start"> <%= item.price %> </h6>