<div class="d-flex flex-column align-items-center">
  <%=render 'categories/list_btn', categories: @category%>
  <div class="d-flex justify-content-around flex-wrap">
    <%= render 'list', items: @items %>
  </div>
  
</div>