<div class="d-flex flex-column" style="background-image: url('assets/kitten.jpg');background-size: cover; ">
  <div class="row">
    <div class="text-center bg-image rounded-3" >
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.51);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h4 class="my-5">On chat-muse bien chez THP !</h4>
            <% if current_user %>
              <%= link_to "Vendez vos catz collectors !", root_path, class: "btn btn-outline-light btn-lg mb-5" %>
            <% else %>
              <%= link_to "Vendez vos catz collectors !", new_user_session_path, class: "btn btn-outline-light btn-lg mb-5" %>
            <% end %>  
          </div>
        </div>
      </div>
    </div> 
  </div>
  <%@categories.each do |category| %>
    <%= link_to "#{category.name}", root_path(category_id:category.id) %>
  <%end%>
  <%= render 'list', items: @items %>
</div>