<div class="container">
  <div class="row">
    <div class="p-5 text-center bg-image rounded-3" style="background-image: url('assets/kitten.jpg'); height: 800px; width: 100%; ">
      <div class="mask" style="background-color: rgba(0, 0, 0, 0.51);">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h4 class="my-5">On chat-muse bien chez THP !</h4>
            <% if current_user %>
              <%= link_to "Vendez vos catz collectors !", root_path, class: "btn btn-outline-light btn-lg mb-5" %>
            <% else %>
              <%= link_to "Vendez vos catz collectors !", new_user_session_path, class: "btn btn-outline-light btn-lg mb-5" %>
            <% end %>  
          </div>
        </div>
      </div>
    </div> 
  </div>
  <div class="row">
    <% Item.all.each do |item| %>
      <div class="col mx-2">
        <div class="card shadow-lg bg-light text-light mx-auto my-5 p-2" style="width: 18rem; height: 650px;">
          <div class="card-body d-flex flex-column">
            <%= render "item", item: item %>
            <div class="mt-auto">
              <%= link_to "Voir ce catz collector !", item_path(:id => item.id), class: "btn btn-outline-dark w-100  mb-3" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>