<h1>Items#index</h1>

<% Item.all.each do |item| %>
  <div> <%= item.title %> </div>
  <div> <%= item.description %> </div>
  <div> <%= item.price %> </div>
  <div> <%= image_tag item.image_url %> </div>
<% end %>
