<div class="d-flex justify-content-center m-5">
  <h2 class="text-secondary">Adoptez nos chats collectors</h2>
</div>
<div class="d-flex justify-content-evenly" style="width:80%">
  <%@categories.each do |category| %>
    <%= link_to "#{category.name}", items_path(category_id:category.id), class:"btn btn-success category-link" %>
  <%end%>
</div>
